
*.i

*.txt

*.d

.hg/cache/tags

.hg/cache/branchheads

.hg/dirstate

.hg/requires

.hg/sourcetreeconfig

.hg/store/fncache

*.branch

*.desc

*.dirstate

*.bookmarks

*.phaseroots

.hg/store/undo

.hg/store/phaseroots

*.class

bin/AndroidManifest.xml

bin/res/crunch/drawable-hdpi/btn_retry_play.png

bin/res/crunch/drawable-hdpi/ad_silent_normal.png
